Write an expression to calculate the sum of 15 and 20

In [9]:
a=15
b=20
c=a+b
print(c)

def two_sum(a,b):
    return a+b
a=30
b=20
print(two_sum(a,b))

35
50

Subtract 25 from 50. What is the result

In [10]:
a=25
b=50
c=a-b
print(c)

def sub_num(a,b):
    return a-b

a=25
b=50
print(sub_num(a,b))

-25
-25

Multiply 12 by 8. What do you get?

In [11]:
a=12
b=8
c=a*b
print(c)

def mul_two(a,b):
    return a*b
a=12
b=8
print(mul_two(a,b))

96
96

Write a Python expression for the area of a rectangle with length = 7 and width = 3.

In [14]:
length=7
width=3
area=length*width
print(area)


def area_of_rectangle(length, width):
    return length*width

length = 7
width = 3
print(area_of_rectangle(length, width))

21
21

In [23]:
tax = 12.5 / 100
price = 100.50
price * tax
price + _

113.0625

In [24]:
a = "This is the first line \n This is the second line"
print(a)

This is the first line
 This is the second line

In [31]:
a= [1,5,8,9,4]
a[3:]
len(a)

5

In [35]:
a, b = 0, 1
while (a<10):    
    print(a)     
    a, b = b, a+b

0
1
1
2
3
5
8

In [40]:
a, b = 0,1
while a<10:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,

if statements

In [47]:
a = 0
if (a==0):
    print("zero")
elif a==1:
    print("single")
elif a>0:
    print("positive")
else:
    print("negative")

zero

If marks >= 90, grade is "A".
If marks are 80-89, grade is "B".
If marks are 70-79, grade is "C".
If marks are 60-69, grade is "D".
If marks < 60, grade is "F".

In [50]:
marks = 99
if marks>=90:
    print("Grade==A")
elif marks>=80 and marks<=89:
    print("Grade==B")
elif marks>=70 and marks<=79:
    print("Grade==C")
elif marks>=60 and marks<=69:
    print("Grade==D")
else:
    print("Grade==F")

Grade==A

In [55]:
wings = ['cat', 'window', 'defenestrate']
for w in wings:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [2]:
for i in range(1,11):
    print(i, end=",")

1,2,3,4,5,6,7,8,9,10,

In [5]:
n=5
sum=0
for i in range(1,n+1):   
    sum +=i              
print(sum)

15

In [11]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
a="Bindhu"
b=a[::-1]
print(b)

uhdniB

In [15]:
# Write a for loop to calculate the factorial of a given number n.
# Example: If n = 4, output should be 24 (4 × 3 × 2 × 1).

a=4
fact =1
for i in range(1, a+1):
    fact *=i
print(fact)

24