In [2]:
a=["cat", "rat", "mat"]
for i in range(len(a)):
    print(i, a[i])

0 cat
1 rat
2 mat

In [3]:
sum(range(3))

3

In [51]:
for i in range(1,10):
    if i==8:
        break
    print(i,end=" ")

1 2 3 4 5 6 7

In [52]:
for i in range(1,10):
    if i%2==0:
        continue
    print(i, end=" ")

1 3 5 7 9

In [53]:
for i in range(1,20):
    if i%11==0:
        break
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [54]:
for i in range(1,21):
    if i%3==0:
        continue
    print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20

In [13]:
n=17
for i in range(2,n):
    if n%i==0:
        print(n,"it is not a prime")
        break
else:
        print("prime")

prime

In [24]:
names = ['Alice', 'Bob', 'Charlie', 'Diana']
search_name = "Bob"

for name in names:
    if name == search_name:
        print("Name found!")
        break
else:
    print("Name not found.")

Name found!

In [29]:
correct_password="Alice123"
attempts=3
while attempts>0:
    password="Alice123"
    if password==correct_password:
        print("Access granted!")
        break
    attempts-=1
else:
    print("Too many attempts..Access denied!")

Access granted!

In [33]:
for i in range(1,59):
    if i*i==1691:
        print("found product!")
        break
else:
    print("Not found!")

Not found!

In [35]:
numbers =[2,3,_]
match numbers:
    case [1,2,3]:
        print("exact macth!")
    case [2,3,_]:
        print("starts with 2")
    case _:
        print("no match")

starts with 2

In [38]:
number=15
match number:
     case x if x > 10:
        print("Greater than 10")
     case x if x == 10:
        print("Equal to 10")
     case _:
        print("Less than 10")

Greater than 10

In [41]:
weather="cold"
match weather:
    case "rainy":
        print("Take an umbrella")
    case "sunny":
        print("wear sunglasses")
    case "cold":
        print("stay warm")
    case _:
        print("normal")

stay warm

In [44]:
item = _
match item:
    case ("apple",3):
        print("match")
    case ("apple", _):
        print("unknown quantity")
    case _:
        print("not match")

not match

In [45]:
people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 20}
]

for person in people:
    match person:
        case {"name": "Alice", "age": 25}:
            print("Alice is 25")
        case {"name": "Bob", "age": 30}:
            print("Bob is 30")
        case _:
            print("Unknown person")

Alice is 25
Bob is 30
Unknown person

In [3]:
def fib(n):
    a,b = 0,1
    while a<n:
        print(a, end=" ")
        a, b = b, a+b
    print()

fib(19)

0 1 1 2 3 5 8 13

In [2]:
def greet(name):
    print("Hello, " + name + "!")

greet("bob")

Hello, bob!

In [3]:
def my_function(a, b=10, *args, **kwargs):
    print("Required argument:", a)
    print("Default argument:", b)
    print("Variable-length positional arguments:", args)
    print("Variable-length keyword arguments:", kwargs)

my_function(1, 2, 3, 4, keyword1="value1", keyword2="value2")

Required argument: 1
Default argument: 2
Variable-length positional arguments: (3, 4)
Variable-length keyword arguments: {'keyword1': 'value1', 'keyword2': 'value2'}

In [8]:
numbers = [1,2,3]
squared = list(map(lambda x : x * x , numbers))
print(squared)

[1, 4, 9]

In [11]:
numbers = [1, 2, 3, 4, 5]
even = list(filter(lambda x :x % 2==0, numbers))
print(even)

[2, 4]

In [17]:
names = ["alice", "bob", "chinoj"]
order = sorted(names, key = lambda x : len(x))
print(order)

['bob', 'alice', 'chinoj']

In [13]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')
fruits.index('kiwi')
fruits.append('grape')
fruits
fruits.reverse()
fruits
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [22]:
stack = [3,4,5]
stack.append(7)
stack.append(9)
stack.pop()
stack

[3, 4, 5, 7]

In [6]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
queue
queue.pop()
queue

deque(['Eric', 'John', 'Michael', 'Terry'])

In [9]:
squares=[]
for x in range(10):
    squares.append(x * x)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
squares=list(map(lambda x : x * x, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
squares = [x *x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
combs= []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [17]:
 words= ["apple", "cat", "pineapple", "custard"]
 for w in words:
    if len(w)>3:
        print(w)

apple
pineapple
custard

In [27]:
tel = {'tele':4097, 'cimn':4321}
tel['guido']=9832
tel['cimn']
list(tel)
sorted(tel)
'guido' in tel
'jack' in tel

False

In [28]:
numbers = [3, 1, 4, 1, 5, 9, 2]
print(max(numbers))

9

In [30]:
numbers = [3, 1, 4, 1, 5, 9, 2]
duplicates= list(set(numbers))
duplicates

[1, 2, 3, 4, 5, 9]

In [31]:
items = [1, 2, 3, 4, 5]
print(items[::-1])

[5, 4, 3, 2, 1]

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1|set2)
print(set1&set2)

{1, 2, 3, 4, 5}
{3}

In [37]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set2.issubset(set1))
print(set1-set2)
print(set2-set1)

False
{1, 2}
{4, 5}

In [42]:
string="hello"
from collections import Counter
print(Counter(string))
# count=0
# for i in string:
#     count.va(i)
#     print(count)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [47]:
student = {"name": "John", "age": 21, "grade": "A"}
print(student.keys())
print(student.items())
print(student.values())

dict_keys(['name', 'age', 'grade'])
dict_items([('name', 'John'), ('age', 21), ('grade', 'A')])
dict_values(['John', 21, 'A'])

In [48]:
student = {"name": "John", "age": 21}
student["salary"]=234445
student

{'name': 'John', 'age': 21, 'salary': 234445}

In [50]:
n=10
a, b= [0,1]
for i in range(n):
    print(a, end=" ")
    a,b = b, a+b

0 1 1 2 3 5 8 13 21 34

In [55]:
data = [
    (101, "Red", "Acer", 10, 15.5),
    (102, "Green", "Asus", 20, 18.7),
    (103, "Blue", "Dell", 15, 20.2),
    (104, "Yellow", "HP", 30, 22.1),
    (105, "Purple", "Lenovo", 25, 17.8)
]
columns = ["product_id", "color", "brand", "quantity", "price"]

In [64]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

In [58]:
spark = SparkSession.builder.appName("spark_revise").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/12 09:53:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [60]:
df=spark.createDataFrame(data, columns)
df.createOrReplaceTempView('products')

In [66]:
df.withColumn("total_value", col("quantity") * col("price")).show()

+----------+------+------+--------+-----+-----------+
|product_id| color| brand|quantity|price|total_value|
+----------+------+------+--------+-----+-----------+
|       101|   Red|  Acer|      10| 15.5|      155.0|
|       102| Green|  Asus|      20| 18.7|      374.0|
|       103|  Blue|  Dell|      15| 20.2|      303.0|
|       104|Yellow|    HP|      30| 22.1|      663.0|
|       105|Purple|Lenovo|      25| 17.8|      445.0|
+----------+------+------+--------+-----+-----------+

In [68]:
spark.sql("""select *, quantity * price as total_value from products""").show()

+----------+------+------+--------+-----+-----------+
|product_id| color| brand|quantity|price|total_value|
+----------+------+------+--------+-----+-----------+
|       101|   Red|  Acer|      10| 15.5|      155.0|
|       102| Green|  Asus|      20| 18.7|      374.0|
|       103|  Blue|  Dell|      15| 20.2|      303.0|
|       104|Yellow|    HP|      30| 22.1|      663.0|
|       105|Purple|Lenovo|      25| 17.8|      445.0|
+----------+------+------+--------+-----+-----------+

In [70]:
df.withColumnRenamed("product_id", "id").show()

+---+------+------+--------+-----+
| id| color| brand|quantity|price|
+---+------+------+--------+-----+
|101|   Red|  Acer|      10| 15.5|
|102| Green|  Asus|      20| 18.7|
|103|  Blue|  Dell|      15| 20.2|
|104|Yellow|    HP|      30| 22.1|
|105|Purple|Lenovo|      25| 17.8|
+---+------+------+--------+-----+

In [72]:
spark.sql("""select product_id as id, color, brand, quantity, price from products""").show()

+---+------+------+--------+-----+
| id| color| brand|quantity|price|
+---+------+------+--------+-----+
|101|   Red|  Acer|      10| 15.5|
|102| Green|  Asus|      20| 18.7|
|103|  Blue|  Dell|      15| 20.2|
|104|Yellow|    HP|      30| 22.1|
|105|Purple|Lenovo|      25| 17.8|
+---+------+------+--------+-----+

In [73]:
df.filter(df.brand=='HP').show()

+----------+------+-----+--------+-----+
|product_id| color|brand|quantity|price|
+----------+------+-----+--------+-----+
|       104|Yellow|   HP|      30| 22.1|
+----------+------+-----+--------+-----+

In [75]:
spark.sql("""select * from products where brand='HP'""").show()

+----------+------+-----+--------+-----+
|product_id| color|brand|quantity|price|
+----------+------+-----+--------+-----+
|       104|Yellow|   HP|      30| 22.1|
+----------+------+-----+--------+-----+

In [76]:
df.sort(df.quantity.desc()).show()

+----------+------+------+--------+-----+
|product_id| color| brand|quantity|price|
+----------+------+------+--------+-----+
|       104|Yellow|    HP|      30| 22.1|
|       105|Purple|Lenovo|      25| 17.8|
|       102| Green|  Asus|      20| 18.7|
|       103|  Blue|  Dell|      15| 20.2|
|       101|   Red|  Acer|      10| 15.5|
+----------+------+------+--------+-----+

In [77]:
spark.sql("""select * from products ORDER BY quantity desc""").show()

+----------+------+------+--------+-----+
|product_id| color| brand|quantity|price|
+----------+------+------+--------+-----+
|       104|Yellow|    HP|      30| 22.1|
|       105|Purple|Lenovo|      25| 17.8|
|       102| Green|  Asus|      20| 18.7|
|       103|  Blue|  Dell|      15| 20.2|
|       101|   Red|  Acer|      10| 15.5|
+----------+------+------+--------+-----+

In [78]:
df.withColumn("discounted_price", col("price")*0.9).withColumnRenamed("quantity","stock_quantity").show()

+----------+------+------+--------------+-----+------------------+
|product_id| color| brand|stock_quantity|price|  discounted_price|
+----------+------+------+--------------+-----+------------------+
|       101|   Red|  Acer|            10| 15.5|13.950000000000001|
|       102| Green|  Asus|            20| 18.7|             16.83|
|       103|  Blue|  Dell|            15| 20.2|             18.18|
|       104|Yellow|    HP|            30| 22.1|             19.89|
|       105|Purple|Lenovo|            25| 17.8|             16.02|
+----------+------+------+--------------+-----+------------------+

In [84]:
spark.sql("""SELECT product_id, color, brand, quantity AS stock_quantity, price, price * 0.9 AS discounted_price FROM products""").show()

+----------+------+------+--------------+-----+------------------+
|product_id| color| brand|stock_quantity|price|  discounted_price|
+----------+------+------+--------------+-----+------------------+
|       101|   Red|  Acer|            10| 15.5|13.950000000000001|
|       102| Green|  Asus|            20| 18.7|             16.83|
|       103|  Blue|  Dell|            15| 20.2|             18.18|
|       104|Yellow|    HP|            30| 22.1|             19.89|
|       105|Purple|Lenovo|            25| 17.8|             16.02|
+----------+------+------+--------------+-----+------------------+

Find products with a quantity greater than 20, and sort them by price in ascending order.

In [85]:
df.filter(df.quantity>20).sort(df.price).show()

+----------+------+------+--------+-----+
|product_id| color| brand|quantity|price|
+----------+------+------+--------+-----+
|       105|Purple|Lenovo|      25| 17.8|
|       104|Yellow|    HP|      30| 22.1|
+----------+------+------+--------+-----+

In [87]:
spark.sql("""select * from products where quantity>20 ORDER BY price""").show()

+----------+------+------+--------+-----+
|product_id| color| brand|quantity|price|
+----------+------+------+--------+-----+
|       105|Purple|Lenovo|      25| 17.8|
|       104|Yellow|    HP|      30| 22.1|
+----------+------+------+--------+-----+

 Retrieve products whose price is between 15 and 20.

In [91]:
df.filter((df.price<=20) & (df.price>=15)).show()

+----------+------+------+--------+-----+
|product_id| color| brand|quantity|price|
+----------+------+------+--------+-----+
|       101|   Red|  Acer|      10| 15.5|
|       102| Green|  Asus|      20| 18.7|
|       105|Purple|Lenovo|      25| 17.8|
+----------+------+------+--------+-----+

 Add a total_value column, filter for products with total_value > 300, and sort the result by total_value in descending order.

In [98]:
df.withColumn('total_value', col('quantity')*col('price')).filter(col('total_value')>300).orderBy(col("total_value").desc()).show()

+----------+------+------+--------+-----+-----------+
|product_id| color| brand|quantity|price|total_value|
+----------+------+------+--------+-----+-----------+
|       104|Yellow|    HP|      30| 22.1|      663.0|
|       105|Purple|Lenovo|      25| 17.8|      445.0|
|       102| Green|  Asus|      20| 18.7|      374.0|
|       103|  Blue|  Dell|      15| 20.2|      303.0|
+----------+------+------+--------+-----+-----------+